<div layout="row" layout-margin layout-padding class="md-whiteframe-z2">

    <md-content flex>

        <div layout="row">
            <md-contact-chips
                flex
                ng-model="ctrl.contacts"
                md-contacts="ctrl.querySearch($query)"
                md-contact-name="name"
                md-contact-image="image"
                md-contact-email="email"
                md-require-match
                filter-selected="ctrl.filterSelected"
                placeholder="To">
            </md-contact-chips>
        </div>

        <h2>Contacts</h2>

        <div layout="row" layout-align="center" layout-wrap>

            <div
                flex="33"
                flex-gt-lg="25"
                flex-gt-md="33"
                flex-md="50"
                flex-sm="100"
                ng-repeat="(index, contact) in ctrl.allContacts"
                ng-if="ctrl.contacts.indexOf(contact) < 0">
                    <div class="md-whiteframe-z1 md-margin md-padding">
                        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                        <div class="md-list-item-text compact">
                            <h3>{{contact.name}}</h3>
                            <p>{{contact.email}}</p>
                        </div>
                    </div>
            </div>

        </div>
    </md-content>
</div>