<md-content layout-padding>
    <md-card>
      <img src="http://lorempixel.com/300/300/people/?1" class="md-card-image" alt="image caption">
      <md-card-content>
        <h2>Juan Antoño</h2>
        <p>The titles of Washed Out's breakthrough song and the first single from Paracosm</p>
      </md-card-content>


      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-fab md-primary" ng-click="closeRight()" aria-label="Close">
            <md-icon md-svg-src="img/icons/clear5.svg"></md-icon>
            <md-tooltip>
              Close menu
            </md-tooltip>
        </md-button>
      </div>
     </md-card>
</md-content>