.nav-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.side-menu{
    &{
        padding: 0;
    }

    .md-button{
        border-radius: 0 !important;
        margin: 0;
        padding: 6px 16px;
        text-align: left;
        text-transform: capitalize;
        width: 100%;
    }

    .active{
        background-color: rgb(63,81,181);
        color: #FFF;
    }

}
//.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
//  color: white; }