<md-menu-content flex="" role="navigation" class="md-default-theme">
    <ul class="side-menu">
        <li data-ng-repeat="item in sideNavigationCtrl.items">
           <md-menu-item>
                <md-button
                    ui-sref="{{item.state}}"
                    ui-sref-active="md-fab md-primary"
                    ng-click="sideNavigationCtrl.closeSideNav('left')">
                    {{::item.title}}
                </md-button>
            </md-menu-item>
        </li>
    </ul>
</md-menu-content>